<header>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contract"><i class="fa-solid fa-handshake"></i> Sponsors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">More...</a>
        </li>
    </ul>
</header>