{% extends 'base.html.twig' %}

{% block title %}Ajout de Contrat{% endblock %}

{% block body %}

    <div>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>

    <div class="contract_form">
        {{ form(form) }}
    </div>

{% endblock %}
