{% extends 'base.html.twig' %}

{% block title %}Liste de contract de Sponsor{% endblock %}

{% block body %}

    <div class="header">
        <h1> Liste des contrats </h1>
        <a class="btn btn-primary" href="addContract" role="button"> + </a>
    </div>

    <div class="container">
        {% if contract_list is defined %}
            <ul class="list-group list-group-flush">
                {% for contract in contract_list %}
                    <li>
                        {{ contract }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Aucun contract a été effectué pour le moment...
        {% endif %}

    </div>


{% endblock %}
