<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contrat de mécénat</title>
</head>
<body>

    <div style="text-align: center">
        <h1>Contrat de mécénat</h1>
    </div>

    <div>
        <p>Ce contrat a été établi entre d'une part : </p>
        <h2>SIDEAPPS</h2>
    </div>

    <div>
        <p>Et d'une autre part :</p>
        <h2> {{ contract.mecenename }} </h2>
    </div>

    <div>
        <p> Et sera valide du <strong>{{ contract.begindate|date('d-m-Y') }}</strong> au <strong>{{ contract.enddate|date('d-m-Y') }}</strong></p>
    </div>

    <style>
        div.inline { float:left; }
        .clearBoth { clear:both; }
    </style>

    <div class="signature">
        <div class="inline"> Signature : </div>
        <div class="inline" style="height: 100px; width: 200px; border: solid black;background-color: white; margin-left: 20px"></div>
    </div>
    <div class="clearBoth"></div>
</body>
</html>